:$PORT

root * /usr/share/caddy
file_server browse

tls $EMAIL {
    dns cloudflare $API_KEY
    resolvers 8.8.4.4
}

header {
    Permissions-Policy interest-cohort=()
    Strict-Transport-Security max-age=31536000;
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-XSS-Protection "1; mode=block;"
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
    -Server
    -Hidden
}

basicauth /$ID/* {
    $ID $MYUUID-HASH
}

@websocket_v2ray_vless {
header Connection *Upgrade*
header Upgrade    websocket
path /$ID-vless
}
reverse_proxy @websocket_v2ray_vless unix//etc/caddy/vless
